:root
{
    --cor-principal: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    
}


*
{
    margin: 0;
    padding: 0;
}


body 
{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:var(--cor-principal);
    color: var(--cor-secundaria);
}


.imagem
{
    border: 5px solid var(--cor-terciaria);
    width: 40%;
    border-radius: 60px;
    border-inline-start-color: yellow;
    border-inline-end-color: yellow;
}



.cabecalho
{
    padding: 5% 0 0 0% ; 
    border: 2px var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
       
}

.cabecalho__menu 
{
    display: flex;
    gap: 80px;
    color: var(--cor-terciaria);    
}


.cabecalho__menu__link
{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    width: 600;
    color: #22D4FD;  
}

.cabecalho__menu__link:hover
{
    background-color: #272727;
    border-radius: 10px;
    color: var(--cor-secundaria);
}

.apresentacao
{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
    
}

.apresentacao__conteudo
{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo
{
    font-size: 2.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.titulo-destaque
{
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria)
}


.apresentacao__conteudo__texto
{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    
}

.apresentacao__links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    gap: 15px;     
}

.apresentacao__links__subtitulo
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link
{
    display: flex;  
    justify-content: center;
    gap: 15px; 
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid var(--cor-terciaria);
    border-inline-start-color: yellow;
    border-inline-end-color: yellow;
    
}

.apresentacao__links__link:hover
{
    background-color: #272727;
}
 
.body__gallery
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
   object-fit: cover;

} 

.gallery-container
{   
    text-decoration: none;
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 0 1vw;  
    transition-delay: .10s;
    width: 80%;
    
    
    
}
.imagegallery
{
    
    padding: 5% 1%;

    filter: grayscale(100%);
    width: 250px;
    height: 250px;
    

}

.imagegallery:hover
{
    padding: 8% 8%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    transform: scale(1.6);
    filter: grayscale(0%);
    
    
  
}

.imagegallery img
{    
width: 100%;
width: 100%;
object-fit: cover;
}

.rodape
{
background-color: var(--cor-terciaria);
display: flex;
justify-content: center;
color: var(--cor-principal);
padding: 5px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 1.125rem;
width: 100%;
}

@media (max-width: 1200px)
{
    .apresentacao
    {
    flex-direction: column-reverse;
    padding: 5%;
    }

    .apresentacao__conteudo
    {
    width: auto;
    }
}


